name: Build toolchain
on: [push]

env:
  JOBS: 2

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Download toolchain
        run: |
          wget "https://github.com/OpenNoah/toolchain/releases/download/v2139096/mipsel-linux-11.2.0-499e01a73161.tar.xz"
          tar axvf mipsel-linux*.tar.xz
          echo "TOOLCHAIN=$(realpath mipsel-linux)" >> $GITHUB_ENV
      - name: Build busybox rootfs
        run: PATH="$PATH:${{ env.TOOLCHAIN }}/bin" ./build.sh
      - name: Check out linux-new
        uses: actions/checkout@v3
        with:
          repository: 'OpenNoah/linux-new'
          ref: 'np-5.17.3'
          path: 'linux'
      - name: Build linux
        run: PATH="$PATH:${{ env.TOOLCHAIN }}/bin" DEFCONFIG=noah_np1380_defconfig ./kernel.sh
      - name: Archive
        run: |
          ./release.sh
          echo "RELEASE=$(echo rootfs-*.tar.xz uImage-*.tar.xz)" >> $GITHUB_ENV
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: ${{ env.RELEASE }}
